<% if !Favorite.exists?(user_id: current_user.id, song_id: song.id) %>
    <%= link_to song_favorites_path(song.id),method: :post, remote: true do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    <% end %>
    <span class="heart-count1"><%= song.favorites.count %></span>
  <% else %>
    <%= link_to song_favorite_path(song.id, id: song.favorites[0].id),method: :delete, remote: true do %>
      <i class="fa fa-heart" aria-hidden="true"></i>
    <% end %>
    <span class="heart-count2"><%= song.favorites.count %></span>
<% end %>
