<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>BMO利用規約</p>
    <p class='second-fotter-text'>著作権保護に関する表記</p>
  </div>
</footer>