a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の帯部分 */
.title-contents {
  width: 100vw;
  margin-top: 100px;
  background-image: image-url('music-header01.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* //画面上部の帯部分 */

/* 楽曲一覧 */

.song-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.song-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.song-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.song-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.song-img-content {
  position: relative;
}

.song-img {
  width: 33vh;
  height: 33vh;
}

.song-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.song-name {
  font-size: 2.5vh;
}

.song-etc {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

/* //楽曲一覧 */