.my_page {
  width: 100vw;
  margin-top: 150px;
}

.name {
  background-color: aquamarine;
  font-size: 20px;
  padding: 10px;
}

.song-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.song-img-content {
  position: relative;
}

.song-img {
  width: 33vh;
  height: 33vh;
}

.song-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.song-title {
  font-size: 2.5vh;
}

.song-etc {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}